.services {

  & .products-title {
    font-size: calc(1.375rem + 1.5vw);
  }

  & .serv-container {
    border: 1px solid #e9ecf8;
  }

  & .service-header {
    font-size: 16px;
    text-align: center;
    height: 80px;
    text-transform: uppercase;
  }

  & .service-image {
    height: 140px;
  }

  & .service-image img {
    max-height: 140px;
  }

  & .service-links {
    font-size: 13px;
    line-height: 22px;
    padding: 0 22px;
    text-align: left;
  }

  & .service-links a {
    text-decoration: none;
    color: #000;
  }
}