.products {
  & .products-title {
    font-size: calc(1.375rem + 1.5vw);
  }
}

.products-item {
  background: #fff;
  border: 1px solid #e9ecf8;
  padding-bottom: 30px;
  border-left: 2px solid #e9ecf8;
  border-top: 2px solid #e9ecf8;

  & .products-header {
    font-size: 16px;
    padding: 22px 0px;
    color: #1d1d1d;
    vertical-align: middle;
    width: 100%;
    height: 100px;
    text-transform: uppercase;
    padding-top: 35px;
  }

  & .products-header a {
    font-size: 16px;
    color: #1d1d1d;
    text-decoration: none;
    background-color: transparent;
  }

  & .products-image {
    min-height: 230px;
    text-align: center;
    line-height: 200px;
  }

  & .products-image img {
    vertical-align: middle;
    max-height: 205px;
    border-style: none;
  }

  & .product-text {
    font-size: 13px;
    padding: 0 22px;
    text-align: left;
    line-height: 22px;
  }

  & .product-text a {
    text-decoration: none;
    background-color: transparent;
    color: #000;
  }
}

.form-wrapper {
  margin-top: 57px;
}