@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  background-color: #f4f5fd;
}

.icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  position: relative;
}
.icon__center {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.slide_img {
  max-width: 100%;
  max-height: 385px;
  margin-top: -20px;
}

.slide_header {
  margin-top: 30px;
  text-align: left;
  line-height: 47px;
}

.slide_title {
  font-size: 42px;
  margin: 20px 0 51px;
}

.slide_title a {
  color: #fff;
  text-decoration: none;
}

.red {
  color: #e61b1e;
}

.darks {
  color: #343346;
}

.yellow {
  color: #ffcc00;
}

.green {
  color: #2cdb14;
}

.header-carousel-item {
  height: 570px;
  padding-bottom: 0px;
  padding-top: 130px;
}

.header-form {
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.header-phone {
  font-size: 24px;
}

#carouselExampleIndicators .carousel-indicators {
  top: inherit;
  height: 50px;
  bottom: -15px;
}

.header-indicator {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  border: 0;
  opacity: 1;
  background-color: #c2cad4;
}

@media screen and (max-width: 992px) {
  .slide_img {
    max-width: 100%;
    max-height: 180px;
  }
  .slide_header {
    margin-top: 70px;
    text-align: center;
    line-height: 30px;
  }
  .slide_title {
    font-size: 25px;
  }
  .header-carousel-item {
    height: 544px;
  }
  .header-form {
    bottom: -35px;
  }
  .header-phone {
    font-size: 20px;
    text-align: center;
  }
  #carouselExampleIndicators .carousel-indicators {
    top: -175px;
  }
  .header-indicator {
    height: 15px;
    width: 15px;
    border-radius: 12px;
  }
}
/* Google Fonts - Poppins */
.portfolioSliderCards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolioSliderCards * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.portfolioSliderCards .slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.portfolioSliderCards .slide-content {
  margin: 0 20px;
  overflow: hidden;
  border-radius: 25px;
}
.portfolioSliderCards .card {
  border-radius: 25px;
  background-color: #fff;
}
.portfolioSliderCards .image-content,
.portfolioSliderCards .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.portfolioSliderCards .image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.portfolioSliderCards .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
  border-radius: 25px 25px 0 25px;
}
.portfolioSliderCards .overlay::before,
.portfolioSliderCards .overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070f4;
}
.portfolioSliderCards .overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.portfolioSliderCards .card-image {
  position: relative;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.portfolioSliderCards .card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}
.portfolioSliderCards .name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.portfolioSliderCards .description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.portfolioSliderCards .button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.portfolioSliderCards .button:hover {
  background: #265df2;
}
.portfolioSliderCards .swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}
.portfolioSliderCards .swiper-navBtn:hover {
  color: #4070f4;
}
.portfolioSliderCards .swiper-navBtn::before,
.portfolioSliderCards .swiper-navBtn::after {
  font-size: 35px;
}
.portfolioSliderCards .swiper-button-next {
  min-width: 28px;
  height: 21px;
  border: none;
  background-color: grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  cursor: pointer;
  mask-image: url(../assets/images/blog-arrow-right.svg);
  margin: 0 20px 0 0;
}
.portfolioSliderCards .swiper-button-prev {
  min-width: 28px;
  height: 21px;
  border: none;
  background-color: grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  cursor: pointer;
  mask-image: url(../assets/images/blog-arrow-left.svg);
  margin: 0 0 0 20px;
}
.portfolioSliderCards .swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}
.portfolioSliderCards .swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media screen and (max-width: 1400px) {
  .portfolioSliderCards .card-image {
    height: 250px;
    width: 250px;
  }
}
@media screen and (max-width: 1200px) {
  .portfolioSliderCards .card-image {
    height: 220px;
    width: 220px;
  }
}
@media screen and (max-width: 768px) {
  .portfolioSliderCards .slide-content {
    margin: 0 10px;
  }
  .portfolioSliderCards .swiper-navBtn {
    display: none;
  }
  .portfolioSliderCards .card-image {
    height: 320px;
    width: 320px;
  }
}
@media screen and (max-width: 400px) {
  .portfolioSliderCards .card-image {
    height: 220px;
    width: 220px;
  }
}
.footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.footer .label img {
  width: 200px;
  height: 200px;
  border-radius: 25%;
}

.col_white_amrc {
  color: #fff;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

.footer p {
  font-size: 14px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.mb10 {
  padding-bottom: 15px;
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
  color: #ccc;
  text-decoration: none;
}

.footer_ul_amrc li a:hover {
  color: #fff;
}

.fleft {
  float: left;
}

.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer_ul2_amrc li p {
  display: table;
}

.footer_ul2_amrc li a:hover {
  text-decoration: none;
}

.footer_ul2_amrc li i {
  margin-top: 5px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.footer_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.footer_bottom_ul_amrc li {
  display: inline;
}

.footer_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
  text-decoration: none;
}

.footer_bottom_ul_amrc li a:hover {
  color: #fff;
}

@media screen and (max-width: 500px) {
  .footer .label img {
    width: 100px;
    height: 100px;
  }
  .footer_bottom_ul_amrc {
    flex-direction: column;
    align-items: center;
  }
  .footer_bottom_ul_amrc li {
    margin: 8px 0;
  }
}
.home .links a {
  margin-right: 20px;
  display: inline-block;
  text-decoration: none;
}
.home .video_wrapper {
  padding-top: 25px;
  height: 0;
  position: relative;
  padding-bottom: 40.25%;
}
.home .video_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home .form_wrapper {
  margin-top: 30px;
}
.home .edit {
  color: #aab4bf;
  text-align: center;
  padding: 20px 0;
  border-radius: 29px;
  border: 0;
  width: 270px;
  margin: 0 14px 14px 0;
  float: none;
}
.home .toggle {
  padding: 22px 0px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  z-index: 100;
  background: transparent;
  text-align: center;
  background-repeat: no-repeat;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 29px;
  height: 61px;
  width: 216px;
  color: #fff;
}

.contactform {
  background-color: #263238;
  padding: 29px 0;
  overflow: hidden;
  margin-top: 3rem;
}

.productitem {
  background: #fff;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  border-right: 1px solid #cecece;
}

.productitem:first-of-type {
  border-left: 1px solid #cecece;
}

.productitem_image > div {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.productitem_title {
  color: #545464;
  font-size: 16px;
  text-transform: uppercase;
  padding: 40px 0px 25px 0;
  min-height: 112px;
}

.productitem_title a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

.productitem_image {
  text-align: center;
  vertical-align: middle;
  height: 175px;
  width: 100%;
  display: table;
}

.productitem_image img {
  max-width: 100%;
  max-height: 170px;
}

.decision_item {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 18px 0;
  margin: 0 0 25px;
  text-align: left;
  max-width: 100%;
  min-height: 200px;
}

.item_img {
  width: 190px;
  text-align: center;
  float: left;
  padding-top: 13px;
}

.item_header {
  position: relative;
  top: 0;
  font-size: 24px;
  right: inherit;
  left: 0;
}

.item_descr {
  font-size: 14px;
  line-height: 24px;
  padding-left: 190px;
}

.hover {
  display: none;
  position: absolute;
  top: 0;
  width: calc(100% - 31px);
  height: calc(100% - 10px);
  margin: 0 auto;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #38b2ce;
}

.item-wrapper:hover {
  cursor: pointer;
}

.item-wrapper:hover .card {
  background-color: #38b2ce;
  color: #fff;
}

.card-title {
  font-size: calc(0.9rem + 0.5vw);
}

.card-text {
  font-size: calc(0.7rem + 0.4vw);
}

.home-img {
  width: 34px;
  height: 34px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.reason1 .home-img {
  background-image: url(../assets/images/reason1.png);
}

.reason2 .home-img {
  background-image: url(../assets/images/reason2.png);
}

.reason3 .home-img {
  background-image: url(../assets/images/reason3.png);
}

.reason4 .home-img {
  background-image: url(../assets/images/reason4.png);
}

.reason_descr {
  font-size: calc(0.7rem + 0.4vw);
}

.reason-title {
  font-size: calc(0.9rem + 0.5vw);
}

@media screen and (min-width: 992px) {
  .home .video_wrapper {
    background: url(../assets/images/video.png) no-repeat top center;
    height: 517px;
    width: 900px;
    text-align: center;
    padding-top: 61px;
    margin-left: auto;
    margin-right: auto;
    background-size: 100%;
  }
  .home .video_wrapper iframe {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 48px;
    width: 831px;
    height: 469px;
  }
  .home .edit {
    width: auto;
    margin: 0 14px 0 0;
    float: none;
  }
  .contactform {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .home form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home .edit {
    margin: 0 0 14px 0;
  }
}

/*# sourceMappingURL=index.css.map */
