.contacts {
  & .products-title {
    font-size: calc(1.375rem + 1.5vw);
  }

  & .font18 {
    font-size: 18px;
  }

  & .fcontact {
    padding-left: 25px;
    margin-bottom: 26px;

    & a {
      color: #000;
      text-decoration: none;
      background-color: transparent;
    }
  }
}

.accordion {
  & button img {
    margin-right: 7px;
  }
}